.rangeSlider {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    color: #34495e;
    padding-top: 0px;
    text-shadow: white 1px 1px 1px;
  }
  
  .value {
    border-bottom: 4px dashed #bdc3c7;
    text-align: center;
    font-weight: bold;
    font-size: 10em;
    width: 300px; 
    height: 100px;
    line-height: 60px;
    /* margin: 40px auto; */
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
  }

  /* change font of .counter */
    .counter {
        font-family: "Dosis", Helvetica, Arial, sans-serif;
        color: #34495e;
        padding-top: 0px;
        text-shadow: white 1px 1px 1px;
    }